/* font-size */
$text-title-size: 18px;
$text-normal-size: 14px;
$text-small-size: 12px;

/* color */
$text-normal-color: #333;
$text-sup-color: #999;

$border-color: #eee;

$bg-color: #f5f5f5;

$theme-color: #6BC2AE;
$sup-color: #FF7E00;
$red-color: #FA2933;


/* mixin */
/* 文字超出一行隐藏 */
@mixin text-inline {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* 文字多行隐藏 */
@mixin  text-inlines($num) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}

/* 阴影 */
@mixin shadow {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
}
@mixin shadow-top {
    box-shadow: 0px -4px 8px 1px rgba(0,0,0,.1);
}
@mixin shadow-left-top {
    box-shadow: -2px -2px 6px 2px rgba(0,0,0,.1);
}
@mixin shadow-left-down {
    box-shadow: -2px 2px 6px 2px rgba(0,0,0,.1);
}
@mixin shadow-right-top {
    box-shadow: 2px -2px 6px 2px rgba(0,0,0,.1);
}
@mixin shadow-right-down {
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.1);
}

/* BEM 定义 */
$elementSeparator: "__"; 
$modifierSeparator: "--";

@function selectorToString($selector) {
  $selector: inspect($selector);//转成字符串
  $selector: str-slice($selector, 2, -2);//去除第一个.和最后一个,
  @return $selector;
}

@function containsModifier($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, $modifierSeparator){
    @return true;
  } @else {
    @return false;
  }
}

@function getBlock($selector) {
  $selector: selectorToString($selector);
  $modifierStart: str-index($selector, $modifierSeparator) - 1;
  @return str-slice($selector, 0, $modifierStart);
}


@mixin b($block) {
  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  $selector: &;
  @if containsModifier($selector) {
    $block: getBlock($selector);
      @at-root {
        #{$selector} {
          #{$block+$elementSeparator+$element} {
            @content;
          }
        }
      }
  } @else {
    @at-root {
      #{$selector+$elementSeparator+$element} {
        @content;
      }
    }
  }
  
  
}

@mixin m($modifier) {
  @at-root {
    #{&}#{$modifierSeparator+$modifier} {
      @content;
    }
  }
}



/* 样式重置 */
text, view {
    font-size: $text-normal-size;
    color: $text-normal-color;
}